<img border='0' src='static/remotes/beyonwiz1/rc.png' usemap='#map' >
<map name="map">
	<area shape="rect" coords="15,32,38,42" alt="STB" onclick="pressMenuRemote('');">
	<area shape="rect" coords="45,30,75,46" alt="Power" onclick="pressMenuRemote('116');">
	<area shape="rect" coords="83,32,106,42" alt="TV" onclick="pressMenuRemote('');">
	<area shape="rect" coords="16,53,42,63" alt="1" onclick="pressMenuRemote('2');">
	<area shape="rect" coords="48,53,74,63" alt="2" onclick="pressMenuRemote('3');">
	<area shape="rect" coords="79,53,105,63" alt="3" onclick="pressMenuRemote('4');">
	<area shape="rect" coords="16,69,42,80" alt="4" onclick="pressMenuRemote('5');">
	<area shape="rect" coords="48,69,74,80" alt="5" onclick="pressMenuRemote('6');">
	<area shape="rect" coords="79,69,105,80" alt="6" onclick="pressMenuRemote('7');">
	<area shape="rect" coords="16,86,42,97" alt="7" onclick="pressMenuRemote('8');">
	<area shape="rect" coords="48,86,74,97" alt="8" onclick="pressMenuRemote('9');">
	<area shape="rect" coords="79,86,105,97" alt="9" onclick="pressMenuRemote('10');">
	<area shape="rect" coords="16,103,42,114" alt="previous" onclick="pressMenuRemote('412');">
	<area shape="rect" coords="48,103,74,114" alt="0" onclick="pressMenuRemote('11');">
	<area shape="rect" coords="79,103,105,114" alt="next" onclick="pressMenuRemote('407');">
	<area shape="circle" coords="26,132,7" alt="skiprewind" onclick="pressMenuRemote('165');">
	<area shape="circle" coords="47,127,10" alt="rewind" onclick="pressMenuRemote('168');">
	<area shape="circle" coords="74,127,10" alt="forward" onclick="pressMenuRemote('208');">
	<area shape="circle" coords="95,132,7" alt="skipforward" onclick="pressMenuRemote('163');">
	<area shape="circle" coords="35,148,10" alt="record" onclick="pressMenuRemote('167');">
	<area shape="circle" coords="60,144,10" alt="play" onclick="pressMenuRemote('164');">
	<area shape="circle" coords="86,148,10" alt="stop" onclick="pressMenuRemote('128');">
	<area shape="circle" coords="27,172,10" alt="Menu" onclick="pressMenuRemote('139');">
	<area shape="circle" coords="94,172,10" alt="Exit" onclick="pressMenuRemote('174');">
	<area shape="rect" coords="47,172,74,188" alt="up" onclick="pressMenuRemote('103');">
	<area shape="rect" coords="28,188,45,218" alt="left" onclick="pressMenuRemote('105');">
	<area shape="circle" coords="61,204,10" alt="OK" onclick="pressMenuRemote('352');">
	<area shape="rect" coords="76,188,93,218" alt="right" onclick="pressMenuRemote('106');">
	<area shape="rect" coords="47,218,74,234" alt="down" onclick="pressMenuRemote('108');">
	<area shape="circle" coords="27,236,10" alt="Info" onclick="pressMenuRemote('358');">
	<area shape="circle" coords="94,236,10" alt="Epg" onclick="pressMenuRemote('365');">
	<area shape="circle" coords="30,263,10" alt="Volume Up" onclick="pressMenuRemote('115');">
	<area shape="circle" coords="61,263,10" alt="Back" onclick="pressMenuRemote('158');">
	<area shape="circle" coords="91,263,10" alt="Channel Up" onclick="pressMenuRemote('402');">
	<area shape="circle" coords="33,289,10" alt="Volume Down" onclick="pressMenuRemote('114');">
	<area shape="circle" coords="61,287,10" alt="Mute" onclick="pressMenuRemote('113');">
	<area shape="circle" coords="88,289,10" alt="Channel Down" onclick="pressMenuRemote('403');">
	<area shape="rect" coords="19,306,36,314" alt="red" onclick="pressMenuRemote('398');">
	<area shape="rect" coords="41,306,58,314" alt="green" onclick="pressMenuRemote('399');">
	<area shape="rect" coords="63,306,80,314" alt="yellow" onclick="pressMenuRemote('400');">
	<area shape="rect" coords="85,306,101,314" alt="blue" onclick="pressMenuRemote('401');">
	<area shape="rect" coords="20,322,44,334" alt="F1" onclick="pressMenuRemote('59');">
	<area shape="rect" coords="49,322,72,334" alt="F2" onclick="pressMenuRemote('60');">
	<area shape="rect" coords="78,322,101,334" alt="F3" onclick="pressMenuRemote('61');">
	<area shape="rect" coords="20,341,44,354" alt="Timeshift" onclick="pressMenuRemote('359');">
	<area shape="rect" coords="49,341,72,354" alt="List" onclick="pressMenuRemote('144');">
	<area shape="rect" coords="78,341,101,354" alt="HDMI Rx" onclick="pressMenuRemote('390');">
	<area shape="rect" coords="20,359,44,373" alt="Timer" onclick="pressMenuRemote('362');">
	<area shape="rect" coords="49,359,72,373" alt="PIP" onclick="pressMenuRemote('375');">
	<area shape="rect" coords="78,359,101,373" alt="V-Key" onclick="pressMenuRemote('227');">
	<area shape="rect" coords="20,378,44,392" alt="Text" onclick="pressMenuRemote('388');">
	<area shape="rect" coords="49,378,72,392" alt="Audio" onclick="pressMenuRemote('392');">
	<area shape="rect" coords="78,378,101,392" alt="Subtitle" onclick="pressMenuRemote('370');">
	<area shape="rect" coords="20,397,44,410" alt="TV" onclick="pressMenuRemote('377');">
	<area shape="rect" coords="49,397,72,410" alt="Radio" onclick="pressMenuRemote('385');">
	<area shape="rect" coords="78,397,101,410" alt="Help" onclick="pressMenuRemote('138');">
</map>
